.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
gems.locked
bin/*
.bundle/*

# test kitchen
.kitchen/
kitchen.local.yml

# Chef Infra
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json

.idea/


results
results/*
.kitchen
respond.txt
deploy-status.json
features_report.html

workstation-space

habitat/plan.sh/*.gem
habitat/plan.sh/pkg/
habitat/plan.sh/x86_64-linux/lib/
